td{
    background-color: white;
    border:solid;
    width: 15%;
    height:60px;
    margin:auto;

}

.selectColor{
    width:100%;
}

#ansTable{
    width:100%;
}

#selectedColor{
    text-align: center;
    font-size: 40px;
}

#selectColorShow{
    text-align: center;
    font-size: 40px;
}

#answerColor{
    text-align: center;
    font-size: 40px;
}

#ansColorShow{
    text-align: center;
    font-size: 40px;
}

#score{
    text-align: center;
    font-size: 30px;
}